@model dynamic

@{
    var key = Model.Key;
    var value = Model.Value;
    var bookingNumber = Model.BookingNumber;
}

@switch (key)
{
    case "GoToHomepage":
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
            <i class="fas fa-home mr-2"></i>@value
        </a>
        break;
    case "BookAnotherCar":
        <a href="@Url.Action("Index", "Car")" class="btn btn-success">
            <i class="fas fa-plus mr-2"></i>@value
        </a>
        break;
    case "ViewBooking":
        <a href="@Url.Action("Details", "Booking", new { bookingNumber = bookingNumber })" class="btn btn-info">
            <i class="fas fa-eye mr-2"></i>@value
        </a>
        break;
    default:
        <button type="button" class="btn btn-secondary">@value</button>
        break;
}