@{
    ViewData["Title"] = "Confirm email";
}

<div class="min-vh-100" style="margin-top: 120px">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="text-center mt-4">
        <p>
            Your email has been successfully verified.
            <a asp-controller="Account" asp-action="Login" class="fw-bold text-primary">Click here to log in</a>.
        </p>
    </div>
</div>

