@{
    ViewData["Title"] = "Password Reset Notification";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="min-vh-100" style="margin-top: 120px">
    <p class="text-center text-muted">
        Please check your email for instructions to reset your password.
    </p>
</div>
