@{
    ViewData["Title"] = "Account Temporarily Locked";
}

<header class="text-center mt-4">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-muted">
        Your account has been temporarily locked. Please try again later.
    </p>
</header>
