@{
    ViewData["Title"] = "Notification";
}

<div class="min-vh-100" style="margin-top: 120px">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center text-muted">
        Please check your inbox for instructions on verifying your account.
    </p>
</div>
