@using App.Areas.Identity.Models.AccountViewModels
@model UseRecoveryCodeViewModel
@{
    ViewData["Title"] = "Sử dụng mã phục hồi";
}

@* <h1>@ViewData["Title"].</h1> *@

<div class="container d-flex justify-content-center" style="margin-top: 150px; margin-bottom:150px">
    <div class="w-50">
        <form asp-controller="Account" asp-action="UseRecoveryCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal bg-light p-4 rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Recover Code</h2>
            <h4 class="text-primary text-center">@ViewData["Status"]</h4>
            <hr />

            <div class="form-group">
                <label asp-for="Code" class="control-label">Recovery Code</label>
                <input asp-for="Code" class="form-control" placeholder="Enter your recovery code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
