@using App.Areas.Identity.Models.AccountViewModels
@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Xác thực";
}

@* <h1>@ViewData["Title"].</h1> *@

<div class="container d-flex justify-content-center" style="margin-top: 150px; margin-bottom:150px">
    <div class="w-50">
        <!-- Adjust width as needed -->
        <form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal bg-light p-4 rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
            <h2>Verify Code</h2>
            <h4 class="text-primary text-center">@ViewData["Status"]</h4>
            <hr />

            <div class="form-group">
                <label asp-for="Code" class="control-label">Verification Code</label>
                <input asp-for="Code" class="form-control" placeholder="Enter your verification code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="RememberBrowser" class="form-check-input" id="rememberBrowserCheckbox" />
                <label for="rememberBrowserCheckbox" class="form-check-label">Remember this device</label>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
